{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindAttributes": [
        "pt",
        "enter-active-class",
        "leave-active-class"
    ],
    "tabWidth": 4,
    "useTabs": false
}