.select {
    .p-dropdown {
        @apply w-full;
        
        .p-inputtext {
            @apply px-4 py-1.5;
        }
    }
}

.select-panel {
    .p-dropdown-panel {
        top: 40px !important;

        .p-dropdown-items {
            @apply bg-gray-50 border border-black/15 rounded py-2 px-0 m-0.5;
            min-width: 11.25rem !important;
            background-clip: padding-box;

            .p-dropdown-item {
                @apply flex items-center relative outline-0 overflow-hidden text-ellipsis cursor-pointer mb-0 transition-colors ease-in-out duration-150 font-normal;
                color: #333;
                @apply w-full py-2 px-4 whitespace-nowrap bg-transparent border-0 hover:bg-gray-200;
            }
        }
    }
}