@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        @apply text-sm leading-3 font-normal text-gray-600 dark:text-gray-100;
    }

    span, label, a, h1, h2, h3, h4, h5, h6, p, blockquote {
        @apply text-gray-600 dark:text-gray-100;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* width */
    ::-webkit-scrollbar {
        scrollbar-width: thin;
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ababab;
        border-radius: 10px;
        border: 1px solid transparent;
        background-clip: padding-box;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.toastify {
    cursor: auto;
}