@use "custom";
@use "@fortawesome/fontawesome-free/css/all.css";
@use "nav";
@use "form";
@use "button";
@use "datatable";

@use "tailwindcss";
@config "../../tailwind.config.js";

html, body {
    @apply text-base leading-3 font-normal text-slate-800 dark:text-slate-100;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    scrollbar-width: thin;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

